
.vertical-nav {
	font-size: 18px;
	min-width: 17rem;
	width: 17rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.4s;
}

.vertical-nav i{
	margin-right: 27px;
}

.page-content {
	width: calc(100% - 17rem);
	margin-left: 17rem;
	transition: all 0.4s;
}
  
body{
	background: #ffffff;
}
.content-section{
  padding: 60px;
}

.background-black{
	background: #2f3542;
	color: #ffffff
}

.profile-picture{
	margin-top: 130px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8), 0 1px 2px 0 rgba(0, 0, 0, .8);
}

.project-section{
	background: #ffffff;
	border-color: #2f3542;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8), 0 2px 2px 0 rgba(0, 0, 0, .8);
	border-radius: 30px;
	padding:30px;
	margin-top: 70px;
}

.project-section img{
	border-width: 1px;
	border-style: solid;
	margin-top:55px;
}

.contactIcons{
	padding: 10px;
	border-radius: 50px;
	font-size: 40px;
	color: #2f3542;
	margin-right: 10px;
}

.contactIcons:hover{
	padding: 14px;
	background: #2f3542;
	color: #f5f6fa;
	font-size: 45px;
}


#sidebar.active {
	margin-left: -17rem;
  }
  
  #content.active {
	width: 100%;
	margin: 0;
  }
  
  @media (max-width: 1008px) {
	#sidebar {
	  margin-left: -17rem;
	}
	#sidebar.active {
	  margin-left: 0;
	}
	#content {
	  width: 100%;
	  margin: 0;
	}
	#content.active {
	  margin-left: 17rem;
	  width: calc(100% - 17rem);
	}
  }